*{
    padding: 0;
    margin: 0;
    font : normal 12px 'noto sans';
}
header,footer{
    padding-top: 10px;
    width: 600px;
    margin: 0 auto;
}
header>h3{
    position: relative;
    left: -100px;
}
main{
    width: 600px;
    margin: 95px auto;
}
h2{
    line-height: 15px;
    height: 14px;
    margin-bottom: 10px;
}
table{
    border-top: 2px solid black;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}
th,td{
    border: 1px solid #E9E9E9;
}
th{
    width: 120px;
    text-align: left;
    padding: 12px;
}
td{
    padding: 10px;
}
input{
    border: 1px solid #E4EAEC;
    box-shadow: none;
    width: 164px;
    height: 24px;
    color: #757575;
    background-color: #F7F7F7;
    outline-style: none;
    appearance: none;
    margin: 5px;
    box-sizing: border-box;
    padding: 5px;
}
button{
    border-radius: 0;
    border: 1px solid #bebebe;
    color: #000;
    background-color: #efefef;
    padding: 5px;
}
section>p{
    line-height: 20px;
}
main>a{
    width: auto;
    height: 35px;
    display: flex;
    float: right;
    border: 1px solid #bebebe;
    padding: 0 10px;
    margin-top: 20px;
    margin-left: 3px;
    align-items: center;
    justify-content: center;
}
a, a:visited{
    color: #000;
    text-decoration: none;
}
footer>p{
    position: relative;
    left: -100px;
    margin-bottom: 20px;
}