<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<aside>
  <div id="asidesize">
    <div class="asidegate1"><img src="../img/sub_aside_cate3_tit.png" alt=""></div>
    <div class="asidebgline"><img src="../img/sub_aside_bg_line.png" alt=""></div>
    <ul class="asidelnb">
      <li>
      <li class="lnb1"><a href="#"><img id="lnb1" src="../img/sub_cate3_lnb1.png" alt="cate_lnb1"></a></li>
      <li class="lnb2"><a href="#"><img id="lnb2" src="../img/sub_cate3_lnb2.png" alt="cate_lnb2"></a></li>
      <li class="lnb3"><a href="#"><img id="lnb3" src="../img/sub_cate3_lnb3_ov.png" alt="cate_lnb2"></a></li>

      </li>
    </ul>
  </div>
</aside>
</body>
</html>