<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="configFragment">
  <meta charset="UTF-8">
  <title>FarmStory</title>
  <link th:href="@{/css/header.css}" rel="stylesheet"></link>
  <link th:href="@{/css/footer.css}" rel="stylesheet"></link>
  <link th:href="@{/css/footer.css}" rel="stylesheet"></link>
  <th:block th:if="${article.group=='community'}">
    <link th:href="@{/css/community.css}" rel="stylesheet"></link>
  </th:block>
  <th:block layout:fragment="css"></th:block>
  <th:block layout:fragment="script"></th:block>
</head>
</html>